
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #fff;
}

body{
  background: #edfaff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 90px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  /* display: none; */
  width: 30px;
  border-radius: 100%;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #000;
}

#menu{
  font-size: 36px;
  font-weight: 200;
  display: none;
}

/* Wrapper */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #edfaff;
}

.text {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 20px;
}

.title span {
  font-size: 100px;
  font-weight: 900;
  font-family: 'Inter';
  color: #000;
}

.title span:nth-child(2){
  animation: span 4s infinite;
}

@keyframes span {
  from {
    background: linear-gradient(to left,#000, #222);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  to {
    background: linear-gradient(to left,#62dcfa, rgb(15, 112, 223));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.text p {
  margin: 30px 0 50px 0;
  font-size: 18px;
  font-weight: 100;
  color: #777;
  font-family: sans-serif;
}

.text .buttons a {
  padding: 12px 40px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 20px;
}

.buttons a:nth-child(1){
  background: #fff;
  color: #111;
  font-weight: 500;
  transition: .3s;
  border: 1px solid #111;
}

.buttons a:nth-child(1):hover{
  background: #111;
  color: #fff;
}

.buttons a:nth-child(2){
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(to right, #0049cf, #43a8fc) border-box;
  border: 1.5px solid transparent;
  box-shadow: 0px 0px 80px 2px #0048cf80;
}

.buttons a:nth-child(2):hover{
  background: linear-gradient(to right, #0049cf, #43a8fc);
  border: none;
}

@media (min-width: 250px) and (max-width: 760px) {
  .header {
    /* flex-direction: column; */
    height: 90px;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
  }

  .nav{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: -1500px;
    right: 0;
    border: 1px solid gray;
    width: 100%;
    background: #edfaff;
    height: 100vh;
    /* border:  1px solid red; */
    padding: 80px 50px;
    transition: top 1s;
    border: none;
    z-index: 1;
  }

  .nav a{
    border-bottom: 1px solid #666;
    width: 100%;
    margin: 0;
    font-size: 24px;
    padding: 20px;
  }

  .nav.open{
    top: 90px;
  }

  #menu{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #555;
  }

  .btn {
    margin-right: 40px;
  }

  .text {
    width: 100%;
  }

  .title{
    display: flex;
    flex-direction: column;
  }

  .title span {
    font-size: 60px;
  font-family: "Inter";

  }

  .buttons a:nth-child(1){
    display: none;
  }
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #111;
}



.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.copyright img{
  width: 30px;
}

.copyright p{
  font-weight: 100;
  color: #888;
  margin: 0 10px;
  font-size: 10px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30%;
  height: 100%;
}

.socials a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}
