* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

a{
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 20px;
  background: #edfaff;
}

.container h3{
  color: #000;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 40px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery > li {
  flex-basis: 350px; /* width: 350px; */
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery > li {
  /* ... */
  position: relative;
  cursor: pointer;
  border: 1px solid #222;
}

.image-gallery > li i{
  color: #fff;
  border: 1px solid #000;
  background: #000;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



